= turbo_frame_tag("favorite-concerts") do
  %section.my-4
    .text-3xl.font-bold.text-fuchsia-600 Favorite Concerts
    - if current_user.favorites.length > 0
      #favorite-concerts-list
        - current_user.favorites.each do |favorite|
          = render(favorite)
  - if current_user.favorites.length === 0
    = render "favorites/no_favorites"
